<div class="home">
    <section class="secciones hero">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quaerat. Officia sit debitis odio,
            culpa, vitae ab impedit in aut molestias incidunt harum temporibus voluptatem inventore earum error aliquam
            maiores.</div>
    </section>

    <section class="secciones about">
        ...
    </section>

    <section class="secciones proyectos">
        <app-list-projects></app-list-projects>
    </section>


</div>